
.background {
  background-position: center;
}
.background_image {
  margin: 0;
  height: 100vh;
  width: 1920px;
  filter: blur(8px);
}
.text {
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5rem;
}

