.background{
    background-position: center;

}
.background_image{
    height: 100vh;
    width: 1920px;
    filter: blur(10px);
}
.text{
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5rem;
}

/* .logo{
    max-width: 300px;

} */